
     /* Responsive website
     @media screen and (max-width: 576px){
       .navbar ul{
        display: none;

       }
       .nav-links{
        display: none;
       }
       .ham-menu{
        display: block;

       }
       .ham-menu{
        height: 26px;
        width: 26px;
        margin: 57px 190px 0px 0px;
    }
       .footerr,.banner,.left-section{
        flex-direction: column;
        margin: 0px auto;
        /* height: 100vh; */

    /* }
    .section-1.section-2,.section-3{
     width: 100%;
     height: 100%;
    }
  }  */

  @media screen and (max-width: 576px){

    .banner,.four-img,.run,.bmi-calculator,.footerr{
        flex-direction: column;
        
    }
    .left-section{
        width: 90%;
    }
    .right-section{
        width: 90%;
    }

    .banner-img{
        width: 100%;
    }
    .circular{
        width: 100%;
    }
    .run-img img{
        padding: 0px;
    }
    .chart,.calculate{
        padding: 20px 10px;
    }
    .bmi-heading-2,.bmi-heading{
        font-weight: 900;
        padding: 20px;
        white-space: nowrap;
    }
    .img-grid{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
    }
    footer h3,.footer-item,.logo{
        padding: 10px 0px;
    }
    .line{
        margin: 10px 30px;
    }

  }