
  @media screen and (max-width: 576px){

    .banner,.four-img,.run,.bmi-calculator,.footerr,.unique-class{
        flex-direction: column;
        
    }
    .nav-ul{
        display: none;
    }
    .ham-menu{
        margin:57px 23px 0px 39px ;
    }
    .brand{
        margin:57px 79px 0px 49px ;  
    }
    .left-section{
        width: 90%;
    }
    .banner>.left-section>h1,.italic{
        font-size: 46px;
        margin-left:-35px;
       
    }
    .banner>.left-section>p{
        font-size: 14px;
        margin-bottom: 18px;
        padding-left: 20px;
    }
    .right-section{
        width: 90%;
    }

    .banner-img{
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
    .button-flex{
        padding-left:40px;
    }
    .circular{
        width: 100%;
    }
    .run-img img{
        padding: 0px;
    }
    .chart,.calculate{
        padding: 20px 10px;
    }
    .bmi-heading-2,.bmi-heading{
        font-weight: 900;
        padding: 20px;
        white-space: nowrap;
    }
    .img-grid{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
    }
    footer h3,.footer-item,.logo{
        padding: 10px 0px;
    }
    .line{
        margin: 10px 30px;
    }
    .section-1,.section-2,.section-3{
     width:100%;
    }
    input[type="text"],select{
        width: 200px;
        padding-right: 0px;
    }
    #activity{
        width: 400px;
    }
    .btn-primary,.btn-primary-3{
        font-weight: 400;
        white-space: nowrap;
        padding: 10px 20px;
    }
    .unique-heading{
        font-size: 46px;
        padding: 20px 0px;
        width: 80%;
    }
    .shop-link{
        padding-left: 0px;
    }
  }